.table {
  width: 60%;
  margin: 0 auto;
  border-collapse: collapse;
  color:#333;
}

.table >tbody >tr >td {
  border: 1px solid #ddd;
  padding: 5px 10px;
  width: 30%;
}

.table >tbody >tr >td.positive {
  background: #3F9647;
}

.table >tbody >tr >td.negative{
  background: #DF2935;
}

.table >thead >tr >th {
  border: 1px solid #ddd;
  background: #0892A5;
  color: #fff;
  padding: 10px 15px;
}

.heading {
 text-align: center; 
}

.loader {
  text-align: center;
}